<div class="row">
    <form action="" name="plug" method="post" class="col s12" onsubmit="sendu(this); return false">
        
        <div class="card-panel">

            <div class="row hide_on_window">
                <div class="input-field col s12">
                    <input id="limit" type="number" size="100" name="limit" value="{{ config.limit }}">
                    <label for="limit">Максимальное количество ссылок на каждую статью <small>-1 если без ограничений</span></small>
                </div>
            </div>

            <div class="row hide_on_window">
                <div class="input-field col s12">
                    <input id="modules" type="text" size="100" name="modules" value="{{ config.modules }}">
                    <label for="modules">В каких модулях включить: <small>например, news|stat|loads</small>
                </div>
            </div>

            <div class="row hide_on_window">
                <div class="input-field col s12">
                    <textarea id="nodes" name="nodes" class="materialize-textarea">{{ config.nodes }}</textarea>
                    <label for="nodes">Пример: http://site.lh/ key1|key2|key3</label>
                </div>
            </div>
            
        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <button class="btn-floating btn-large deep-orange form_save tooltipped" data-position="left" data-tooltip="Сохранить изменения" type="submit" name="send">
                <i class="large mdi-content-save"></i>
            </button>
        </div>
        
    </form>
</div>

<script>
    // Отправляет форму на сервер и отображает статус выполненного действия
    function sendu(e) {
        if (e instanceof Object != true) {
            e = $('#'+e)
        }

        formname = $(e).attr("name")
        formData = new FormData(document.forms[formname])
        
        xhr = new XMLHttpRequest()
        xhr.open('POST', $(e).attr("action"), true)
        xhr.onload = function(e) {
            if (this.status == 200) {
                Materialize.toast('Сохранено', 4000);
            } else {
                Materialize.toast('Произошла неизвестная ошибка', 4000);
            }
        }
        xhr.send(formData)
    }
</script>